html 
    include header.pug
    head 
        title= title
        link(rel="stylesheet", href="/css/css-zero.css")
        link(rel="stylesheet", href="/css/css-form.css")
        script(src='/js/js-form.js')
    body 
        div(id="form-data" style="height:0px; width:0px; overflow: hidden;")
            p= form_id 
        div(class="block" id="main")
            div(class="block" id="subMain")
                div(class="block" id="header")
                    h1= form_name
                    p= "Форма #" + form_id
                    p= "Описание: " + form_desc
                div(class="block" id="content")
                    each question in questions 
                        div(class="questionContainer" id=`${question.name}-${question.type}`)
                            p(class="text" id="question")= question.name
                            case question.type 
                                when 0
                                    input(type="text" id="answerInput")
                                when 1
                                    each variant in question.data.variants
                                        div(id="variantList")
                                            input(id=`radio ${variant}` type="radio" name=question)
                                            label(for=`radio ${variant}` class="text" id="variant")= variant
                                default 
                                    p Нет такого типа вопроса!
                    div(style="display: flex; justify-content: space-between; margin-top: 50px")
                        button(class="button" id="sendAnswers" onClick="sendAnswers()") Отправить
                        if isAdmin 
                            button(class="button" id="deleteForm" onClick="deleteForm()") Удалить форму